.contentWrapper {
  margin-top: 50px;
  min-height: calc(200vh - 80px - 50px);
}

.footer {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
